:root {
    --foreground: #121212;
    --background: #ffffff;
    --background-1: #e5e5e5;
    --text-color: #525d66;
	--correct: #121212;
    --incorrect: #c62828;
    --incorrect-extra: #ff5768;
    --accent: #14213d;
    --transparent: rgba(0, 0, 0, 0);
    --shadow: rgba(0, 0, 0, 0.3);
    --font-family: "Roboto Mono", monospace;
    transition: all 0.5s ease;
}

/* Main Display */

body {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
	background-color: var(--background);
}

#stats, #typing {
    margin: 10px;
	text-align: left;
}

#display {
    margin-bottom: 20px;
    padding: 30px;
	background-color: var(--background-1);
	border-radius: 10px;
    color: var(--text-color);
    white-space: pre-wrap;
    min-height: 50px;
}

#input {
	display: none;
}

/* Colors */

#correct {
    color: var(--correct);
}

#incorrect {
    color: var(--incorrect);
}

#incorrect-extra {
    color: var(--incorrect-extra);
}

#neutral {
    color: var(--text-color);
}

/* Buttons */

button#restart {
	font-family: 'Roboto Mono', monospace;
    cursor: pointer;
    padding: 10px 20px;
    background-color: var(--accent);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

/* Footer */

footer {
    margin-top: 20px;
	padding: 10px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

footer a {
    color: var(--foreground);
    text-decoration: none;
}

footer i {
    margin-right: 5px;
}

