:root {
    --foreground: #d1d5da;
    --background: #181a1f;
    --background-1: #1e2026;
    --text-color: #464a51;
    --accent: #55aaff;
    --red: #ff5768;
    --transparent: rgba(0, 0, 0, 0);
    --shadow: rgba(0, 0, 0, 0.3);
    --font-family: "Roboto Mono", monospace;
    transition: all 0.5s ease;
}

body {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#stats, #typing {
    margin: 10px;
    text-align: center;
}

#display {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #333;
    white-space: pre-wrap;
    min-height: 50px;
}

#input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    min-height: 50px;
    outline: none;
}

button#restart {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

footer {
    margin-top: 20px;
}

footer a {
    color: #333;
    text-decoration: none;
}

footer i {
    margin-right: 5px;
}
