:root {
    --foreground: #d1d5da;
    --background: #181a1f;
    --background-1: #1e2026;
    --background-2: #24262c;
    --shadow: #101215;
    --text-color: #464a51;
    --red: #ff5768;
    --orange: #ffb347;
    --green: #23d18b;
    --cyan: #00cef1;
    --blue: #55aaff;
    --purple: #a29bfe;
    --font-family: "Roboto Mono", monospace;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: 20px;
    background-color: var(--background);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    body {
        font-size: 22px;
    }
}

#container {
    width: 60rem;
    max-width: 90vw;
    align-items: center;
}

.text-display {
    margin-bottom: 20px;
    padding: 10px;
    min-height: 50px;
    white-space: pre-wrap;
    text-align: left;
}

.input-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    border: none;
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    color: transparent; /* Ensuring the text is invisible */
    caret-color: transparent; /* Making the caret/cursor invisible */
}

header {
    position: fixed;
    top: 0;
    left: -30px;
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

h1 {
    font-size: 20px;
    color: var(--foreground);
}

.icon {
    color: var(--blue);
}

#typing-test {
    display: flex;
    justify-content: center;
    width: 100%;
    transform: translateY(-5vh);
}

#result {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 1rem;
    transform: translateY(-5vh);
}

#restart-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 10px 20px;
    background-color: var(--background);
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    color: var(--foreground);
}

.button i {
    font-size: smaller;
    transform: scaleX(-1);
    display: inline-block;
}

.current {
    color: var(--blue);
    text-decoration: underline;
}

.correct {
    color: var(--foreground);
}

.incorrect {
    color: var(--red);
    text-decoration: underline;
}

.correct-word {
    color: var(--foreground);
    text-decoration: underline var(--red);
}

.incorrect-word {
    color: var(--red);
    text-decoration: underline;
}

/* Style for the results display */
#result {
    margin-top: 20px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: var(--background);
    text-align: center;
    padding-bottom: 20px;
    font-size: smaller;
}

footer .footer-content a {
    color: var(--text-color);
    text-decoration: none;
}

footer .footer-content a:hover {
    text-decoration: underline;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
    color: var(--text-color);
    z-index: 1;
    background-color: var(--background-1);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 5px;
    width: 100%;
}
nav li {
    float: left;
    margin: 0;
    padding: 5px 20px;
    position: relative;
}

nav ul li ul li {
    padding: 0px;
    display: block;
    text-align: left;
    width: 100%;
}

nav a {
    font-size: medium;
    color: var(--text-color);
    display: block;
    padding: 20 25px;
    text-align: center;
    text-decoration: none;
    transition: all 0.25s ease;
}

nav li:hover a {
    color: var(--foreground);
}

nav li ul {
    float: left;
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 40px;
    left: 15px;
    padding: 5px 50px 5px 20px;
    visibility: hidden;
    z-index: 2;
    transition: all 0.2s ease;
    box-shadow: 0px 0px 10px 2px var(--shadow);
    background-color: var(--background);
}

nav li:hover ul {
    opacity: 1;
    top: 35px;
    visibility: visible;
}

/* Clearfix */
.cf:after,
.cf:before {
    content: "";
    display: table;
}
.cf:after {
    clear: both;
}

.nav-button {
    display: block;
    padding: 5px 100px 5px 5px;
    font-family: var(--font);
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--background);
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.nav-button:hover {
    color: var(--foreground);
}

.nav-button i {
    font-size: smaller;
    transform: scaleX(-1);
    display: inline-block;
}

.command-prompt {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
    z-index: 2;
    pointer-events: none;
}

.command-prompt input {
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--background-2);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding: 4px 10px 5px 10px;
    width: 30%;
}

.command-prompt input::placeholder {
    color: var(--text-color);
}

.command-prompt-open {
    position: absolute;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 35%;
    padding: 5px 0 5px 0;
    z-index: 3;
    background-color: var(--background);
    box-shadow: 0px 0px 10px 2px var(--shadow);
    flex-direction: column;
}

.command-prompt-open input {
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--background-1);
    border: 2px solid var(--background-2);
    padding: 4px 10px 5px 10px;
    margin: 0px 20px 0px 20px;
    width: 95%;
}

.command-prompt-open button {
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--background-3);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 1px;
    width: 95%;
    text-align: left;
    cursor: pointer;
    display: block;
}

.command-prompt-open button:hover {
    background-color: var(--background-1);
    color: var(--foreground);
}

#open-command-prompt {
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--text-color);
    background-color: var(--background-2);
    border: 1px solid var(--text-color);
    border-radius: 8px;
    padding: 4px 10px 5px 10px;
    width: 30%;
    cursor: pointer;
    text-align: left;
}

#open-command-prompt:hover {
    color: var(--foreground);
}

#open-command-prompt i {
    font-size: smaller;
    transform: scaleX(-1);
    display: inline-block;
}
