<div class="command-prompt">
  <input type="text" placeholder="Type a command..." />
  <div class="command-prompt-open">
    <input type="text" placeholder="Type a command..." />
    <button class="command-button">Sample 1</button>
    <button class="command-button">Sample 2</button>
    <button class="command-button">Sample 3</button>
    <button class="command-button">Sample 4</button>
    <button class="command-button">Sample 5</button>
  </div>
</div>
<script src="../scripts/command.js"></script>
