<ul class="cf">
  <li><a class="icon">❯_</a></li>
  <li>
    <a class="dropdown">File</a>
    <ul>
      <li>
        <button id="algorithms-gamemode" class="nav-button">Algorithms</button>
      </li>
      <li><button id="words-gamemode" class="nav-button">Words</button></li>
    </ul>
  </li>
  <li>
    <a class="dropdown">Edit</a>
    <ul>
      <li><button id="python-language" class="nav-button">Python</button></li>
      <li><button id="c-language" class="nav-button">C</button></li>
      <li><button id="cpp-language" class="nav-button">C++</button></li>
      <li><button id="csharp-language" class="nav-button">C#</button></li>
      <li>
        <button id="javascript-language" class="nav-button">JavaScript</button>
      </li>
    </ul>
  </li>
  <li>
    <a class="dropdown">View</a>
    <ul>
      <li>
        <button id="command-prompt" class="nav-button">Command Prompt</button>
      </li>
    </ul>
  </li>
  <li><a class="dropdown">Help</a></li>
</ul>
